body {
  background-image: url("https://thumbs.dreamstime.com/z/movie-premiere-concept-clapperboard-popcorn-yellow-background-top-view-space-text-watching-film-cinema-154842369.jpg");

  background-size: cover;
  /* background-position: center; */
}

.red-paragraph {
  color: blue;
}
.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  text-align: center;
}
